<section class="place-to-visit">
  <div class="section-title">
    <p><strong>Place to </strong> Visit</p>
  </div>
  <div class="visitPlace">
    <div class="visitPlace__title">
      <span class="material-icons">location_on</span>
      <p><strong>{{countries?.capital}} <br> {{countries?.name?.common}}</strong></p>
    </div>
    <img src="{{photo?.image?.mobile}}"
      alt="{{photo?.attribution?.photographer}} {{photo?.attribution?.site}} {{photo?.attribution?.source}}">
  </div>
</section>
