.days-forecast {
  .daily-card {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    width: 145px;
    height: 50px;
    margin: 7px auto;
    background-color: var(--white);
    box-shadow: 0 0 3px #dbe0e4;
    border-radius: 15px;
    @media (max-width: 856px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      height: 90px;
    }
    &:hover {
      box-shadow: var(--shadow);
      cursor: pointer;
    }
    .daily-captions {
      h4 {
        font-size: 9px;
        color: #6f6f6f;
        line-height: 9px;
      }
      h5 {
        font-size: 8px;
        color: #c4c4c4;
        line-height: 9px;
      }
    }
    .daily-temp {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-radius: 15px;
      background-color: #dce8f4;
      h4 {
        font-weight: 500;
        color: var(--black);
        font-size: 10px;
      }
      &.nextDay {
        background-color: var(--purple);
        h4 {
          color: var(--white);
        }
      }
    }
  }
}
