<section class="reviews">
  <div class="reviews__title">
    <p>+ Top Reviews</p>
    <img src="/assets/images/media/girl-1.jpg" alt="Primera Chica">
    <img src="/assets/images/media/boy-1.jpg" alt="Primera Chica">
    <img src="/assets/images/media/girl-2.jpg" alt="Primera Chica">
    <span>8+</span>
  </div>
  <div class="feature-location">
    <img src="/assets/images/media/art-museum.jpg" alt="Art museum">
    <div class="visitPlace__title">
      <span class="material-icons">location_on</span>
      <p><strong>Art Science <br> Museum</strong></p>
    </div>
  </div>
  <div class="feature-location feature-location-2">
    <img src="/assets/images/media/fountain.jpg" alt="Fountain of Archibald">
    <div class="visitPlace__title">
      <span class="material-icons">location_on</span>
      <p><strong>Fountain<br>of Archibald </strong></p>
    </div>
    <div class="button-add">
      +
    </div>
  </div>
</section>
